.parallax {
    background-image: url('../images/fondo1.jpeg'), url('../images/fondo2.jpg'), url('../images/fondo3.jpeg');
    height: 1600px;
    background-attachment: fixed;
    background-position: left, center, right;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: contain;
}