.img-secret {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    width: 100%;
    height: 1668px;
}

.img-secret img {
    grid-area: 1 / 2 / 11 / 10;
    justify-self: center;
    height: 100%;
}

.button-back2 {
    grid-area: 1 / 3 / 2 / 5;
    justify-self: end;
    align-self: center;
}

.secret-back {
    background-color: transparent;
    border: none;
    padding: 100px 100px;
    text-decoration: none;
    cursor: pointer; 
}

.button-secret1 {
    grid-area: 4 / 2 / 5 / 5;
    justify-self: center;
    align-self: center;
}

.secret-button1 {
    background-color: transparent;
    border: none;
    padding: 100px 100px;
    text-decoration: none;
    cursor: pointer; 
}

.button-secret11 {
    grid-area: 1 / 8 / 2 / 9;
    justify-self: start;
    align-self: center;
}

.secret-button11 {
    background-color: transparent;
    border: none;
    padding: 30px 30px;
    text-decoration: none;
    cursor: pointer; 
}

.button-secret2 {
    grid-area: 3 / 7 / 5 / 9;
    justify-self: start;
    align-self: flex-end;
}

.secret-button2 {
    background-color: transparent;
    border: none;
    padding: 130px 100px;
    text-decoration: none;
    cursor: pointer; 
}

.button-secret3 {
    grid-area: 5 / 2 / 7 / 5;
    justify-self: center;
    align-self: center;
}

.secret-button3 {
    background-color: transparent;
    border: none;
    padding: 100px 100px;
    text-decoration: none;
    cursor: pointer; 
}

.button-secret4 {
    grid-area: 5 / 5 / 6 / 6;
    justify-self: end;
    align-self: flex-end;
}

.secret-button4 {
    background-color: transparent;
    border: none;
    padding: 30px 60px;
    text-decoration: none;
    cursor: pointer; 
}

.button-secret5 {
    grid-area: 5 / 6 / 6 / 8;
    justify-self: center;
    align-self: flex-end;
}

.secret-button5 {
    background-color: transparent;
    border: none;
    padding: 25px 75px;
    text-decoration: none;
    cursor: pointer; 
}

.button-secret6 {
    grid-area: 4 / 6 / 6 / 8;
    justify-self: start;
    align-self: center;
}

.secret-button6 {
    background-color: transparent;
    border: none;
    padding: 22px 80px;
    text-decoration: none;
    cursor: pointer; 
}

.button-secret7 {
    grid-area: 4 / 6 / 5 / 8;
    justify-self: center;
    align-self: center;
}

.secret-button7 {
    background-color: transparent;
    border: none;
    padding: 12px 40px;
    text-decoration: none;
    cursor: pointer; 
}