.container-wrapper {
    overflow: hidden;
    display: flex;
    align-items: center;
    padding-bottom: 400px;
    padding-top: 180px;
}

.wrapper {
    position: relative;
    flex-grow: 1;
    margin: auto;
    max-width: 1900px;
    max-height: 1200px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 6vmin;
    justify-items: center;
    align-items: center;
}

.wrapper > img {
    z-index: 1;
    height: 300px;
    max-width: 100%;
    grid-column: span 2;
    margin-bottom: -52%;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    transform: scale(1);
    transition: all .3s;
    filter: gray;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.wrapper > img:nth-child(7n + 1){
    grid-column:  2 / span 2;
}

.wrapper > img:hover {
    z-index: 3;
    transform: scale(2);
    -webkit-filter: grayscale(0);
    filter: none;
}

.serv {
    width: 900px;
    height: 400px;
    color: white;
    margin-top: 150px;
    text-align: center;
}

.serv h1 {
    font-size: 60px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.serv p {
    font-size: 20px;
}

.serv-list {
    height: 100px;
    width: 60%;
    background-color: rgb(165, 42, 42);
    margin: 100px auto;
}

.serv ul {
    margin-top: 50px;
}

.serv ul li {
    float: none;
    font-size: 20px;
}

#servicio1 {
    position: absolute;
    top: 200px;
    left: 250px;
    z-index: 2;
    color: white;
    text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(0, 0, 0), 0 0 0.2em rgb(0, 0, 0);
    background-color: transparent;
    font-size: 60px;
}

#servicio2 {
    position: absolute;
    top: 500px;
    left: 150px;
    z-index: 2;
    color: white;
    text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(0, 0, 0), 0 0 0.2em rgb(0, 0, 0);
    background-color: transparent;
    font-size: 60px;
}

#servicio3 {
    position: absolute;
    top: 840px;
    left: 190px;
    z-index: 2;
    color: white;
    text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(0, 0, 0), 0 0 0.2em rgb(0, 0, 0);
    background-color: transparent;
    font-size: 60px;
}

#servicio4 {
    position: absolute;
    top: 270px;
    left: 1200px;
    z-index: 2;
    color: white;
    text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(0, 0, 0), 0 0 0.2em rgb(0, 0, 0);
    background-color: transparent;
    font-size: 60px;
}

#servicio5 {
    position: absolute;
    top: 670px;
    left: 1000px;
    z-index: 2;
    color: white;
    text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(0, 0, 0), 0 0 0.2em rgb(0, 0, 0);
    background-color: transparent;
    font-size: 60px;
}

@media (max-width: 1500px) {
    .wrapper {
        max-width: 1110px;
    }

    .wrapper > img {
        height: 185px;
    }

    #servicio1 {
        top: 110px;
        left: 100px;
        font-size: 36px;
    }

    #servicio2 {
        top: 300px;
        left: 90px;
        font-size: 36px;
    }

    #servicio3 {
        top: 500px;
        left: 100px;
        font-size: 36px;
    }

    #servicio4 {
        top: 150px;
        left: 700px;
        font-size: 36px;
    }

    #servicio5 {
        top: 400px;
        left: 580px;
        font-size: 36px;
    }
}