.container-wrapper {
    overflow: hidden;
    display: flex;
    align-items: center;
    padding-bottom: 500px;
    padding-top: 250px;
}

.wrapper {
    position: relative;
    flex-grow: 1;
    margin: auto;
    max-width: 1900px;
    max-height: 1200px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 6vmin;
    justify-items: center;
    align-items: center;
}

.wrapper > img {
    z-index: 1;
    height: 300px;
    max-width: 100%;
    grid-column: span 2;
    margin-bottom: -52%;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    transform: scale(1);
    transition: all .3s;
    filter: gray;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.wrapper > img:nth-child(7n + 1){
    grid-column:  2 / span 2;
}

.wrapper > img:hover {
    z-index: 3;
    transform: scale(2);
    -webkit-filter: grayscale(0);
    filter: none;
}

.serv {
    width: 900px;
    height: 400px;
    color: white;
    text-align: center;
    margin-top: 50px;
}

#servicio1 {
    position: absolute;
    top: 975px;
    right: 1280px;
    z-index: 2;
    color: white;
    text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(0, 0, 0), 0 0 0.2em rgb(0, 0, 0);
    background-color: transparent;
    font-size: 80px;
}

#servicio2 {
    position: absolute;
    top: 1285px;
    right: 1165px;
    z-index: 2;
    color: white;
    text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(0, 0, 0), 0 0 0.2em rgb(0, 0, 0);
    background-color: transparent;
    font-size: 80px;
}

#servicio3 {
    position: absolute;
    top: 1615px;
    right: 1440px;
    z-index: 2;
    color: white;
    text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(0, 0, 0), 0 0 0.2em rgb(0, 0, 0);
    background-color: transparent;
    font-size: 80px;
}

#servicio4 {
    position: absolute;
    top: 1050px;
    right: 515px;
    z-index: 2;
    color: white;
    text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(0, 0, 0), 0 0 0.2em rgb(0, 0, 0);
    background-color: transparent;
    font-size: 80px;
}

#servicio5 {
    position: absolute;
    top: 1445px;
    right: 545px;
    z-index: 2;
    color: white;
    text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(0, 0, 0), 0 0 0.2em rgb(0, 0, 0);
    background-color: transparent;
    font-size: 80px;
}

@media (max-width: 1500px) {
    .wrapper {
        max-width: 1110px;
    }

    .wrapper > img {
        height: 185px;
    }

    #servicio1 {
        top: 900px;
        right: 650px;
        font-size: 46px;
    }

    #servicio2 {
        top: 1100px;
        right: 600px;
        font-size: 46px;
    }

    #servicio3 {
        top: 1290px;
        right: 760px;
        font-size: 46px;
    }

    #servicio4 {
        top: 960px;
        right: 230px;
        font-size: 46px;
    }

    #servicio5 {
        top: 1200px;
        right: 230px;
        font-size: 46px;
    }
}