@font-face {
    font-family: VMHead;
    src: url("../fonts/Montserrat-Medium.ttf");
}

* {
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
    font-family: 'VMHead';
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#myVid {
    border-bottom: -5px;
}

img {
    left: 0;
    height: 50px;
}

ul {
    list-style-type: none;
    height: 100px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a {
    font-size: 30px;
}

#pages:hover{
    font-size: 38px;
}

#page-img, #pages {
    transition: all .3s;
}

#page-img:hover {
    height: 58px;
}

.container-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 1500px;
    height: 800px;
    align-self: center;
    background: transparent;
}

.evento1, .evento2, .evento3, .evento4, .container-grid h1, .container-grid p {
    background: transparent;
}

.evento1 {
    grid-area: 1 / 1 / 3 / 3;
    align-self: center;
    color: white;
    padding: 10px 100px;
    font-size: 28px;
}

.evento1 h1, .serv1 h1, .serv2 h1 {
    padding-bottom: 20px;
}

.container-grid2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
    align-self: center;
}

.container-grid2 img {
    height: 600px;
    width: 100%;
    object-fit: cover;
}

.imagen1 {
    grid-area: 1 / 1 / 2 / 2;
}

.imagen2 {
    grid-area: 1 / 2 / 2 / 3;
}

.imagen3 {
    grid-area: 2 / 1 / 3 / 2;
}

.imagen4 {
    grid-area: 2 / 2 / 3 / 3;
}

.imagen5 {
    grid-area: 1 / 1 / 3 / 3;
    background-color: transparent;
    align-self: center;
    justify-self: center;
    height: 200px;
}

.imagen5 img {
    background-color: transparent;
    height: 200px;
}

.button-grid {
    grid-area: 1 / 1 / 3 / 3;
    background-color: transparent;
    align-self: center;
    justify-self: center;
    margin-top: 300px;
}

.button {
    background-color: transparent; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer; 
}

.button-mas {
    color: white;
    border: 2px solid white;
}

.button-mas:hover {
    background-color: rgba(192  , 192, 192, 0.5);
}

.container-grid3 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 1500px;
    height: 600px;
    align-self: center;
    margin-top: 300px;
}

.serv1 {
    grid-area: 1 / 1 / 2 / 2;
    align-self: center;
    justify-self: center;
    text-align: center;
    color: white;
    padding-right: 700px;
    font-size: 24px;
}

.serv2 {
    grid-area: 2 / 1 / 3 / 2;
    align-self: center;
    justify-self: center;
    text-align: center;
    color: white;
    padding-left: 700px;
    font-size: 24px;
}

.gallery {
    height: 1200px;
    background: #EEE;
}

.gallery-cell {
    width: 100%;
    height: 1200px;
    margin-right: 10px;
    font-size: 40px;
    counter-increment: gallery-cell;
}

.gallery-cell img {
    height: 1200px;
    width: 100%;
    object-fit: cover;
}

.gallery-page {
    height: 1000px;
}

.gallery-img{
    border-radius: 20px;
}

.gallery-img-container{
    height: 1000px;
}

.gallery-img-container img{
    height: 1000px;
}

/* cubo */

.container-cube {
    width: 600px;
    height: 600px;
    margin: 500px auto 500px;
    perspective: 1200px;
}

.container-cube .box {
    width: 600px;
    height: 600px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.container-cube .box .pic {
    position: absolute;
    left: 0;
    top: 0;
    width: 600px;
    height: 600px;
    box-shadow: 0px 0px 5px #fff;
}

.container-cube .box .pic img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.container-cube .box .pic:nth-child(1) {
    transform: translateZ(300px);
}

.container-cube .box .pic:nth-child(2) {
    transform: rotateY(-180deg) translateZ(300px);
}

.container-cube .box .pic:nth-child(3) {
    transform: rotateY(90deg) translateZ(300px);
}

.container-cube .box .pic:nth-child(4) {
    transform: rotateY(-90deg) translateZ(300px);
}

.container-cube .box .pic:nth-child(5) {
    transform: rotateX(90deg) translateZ(300px);
}

.container-cube .box .pic:nth-child(6) {
    transform: rotateX(-90deg) translateZ(300px);
}

.default {
    transform: translateZ(-150px) rotateX(320deg) rotateY(45deg);
}

#fullpage {
    display: none;
    position: absolute;
    z-index: 100;
    top: 5400px;
    left: 25%;
    width: 100vh;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-color: black;
}

/* footer */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 200px 0;
}

footer h2 {
    align-self: center;
    text-align: center;
    font-size: 60px;
    color: white;
}

.container-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 300px;
    width: 60%;
    align-self: center;
    background-color: transparent;
}

.footer1 {
    grid-area: 1 / 1 / 3 / 2;
    align-self: center;
    justify-self: end;
}

.footer2 {
    grid-area: 1 / 2 / 2 / 3;
    text-align: center;
    align-self: flex-end;
}

.footer3 {
    grid-area: 2 / 2 / 3 / 3;
    text-align: center;
    align-self: flex-start;
}

.footer4 {
    grid-area: 1 / 3 / 3 / 4;
    text-align: start;
    align-self: center;
    justify-self: start;
}

.footer1 img {
    height: 130px;
}

.footer2 a i {
    font-size: 60px;
    transition: .5s;
}

.footer3 a i {
    font-size: 60px;
    transition: .5s;
}

.phone {
    display: -webkit-box;
    padding: 0 0 5px 10%;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.mail {
    display: -webkit-box;
    padding: 0 0 5px 10%;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.phone p, .mail p {
    padding-left: 10px;
    transition: .5s;
    font-size: 40px;
}

.phone:hover, .mail:hover {
    color: rgb(155, 155, 155);
}

.fb-insta {
    display: -webkit-box;
    padding: 5px 0 0 10%;
    text-decoration: none;
    width: 100%;
}

.fb-insta i {
    padding-left: 20px;
    font-size: 70px;
    transition: .5s;
}

.fa-facebook {
    color: rgb(51, 51, 255);
}

.fa-facebook:hover {
    color: rgb(21, 21, 255);
}

.fa-instagram {
    color: rgb(255, 79, 173);
}

.fa-instagram:hover {
    color: rgb(255, 0, 136);
}

.fa-whatsapp {
    color: rgb(81, 255, 81);
}

.fa-whatsapp:hover {
    color: rgb(0, 255, 0);
}

@media (max-width: 1500px) {

    .container-grid {
        width: 900px;
    }

    .container-grid2 img {
        height: 400px;
    }

    .imagen5 img {
        height: 180px;
    }

    .container-grid3 {
        width: 900px;
    }

    footer h2 {
        font-size: 32px;
    }

    .footer3 {
        text-align: left;
    }

    .footer2 a i, .footer3 a i {
        font-size: 30px;
    }

    .flickity-viewport {
        height: 590px;
    }

    .gallery {
        height: 600px;
    }

    .flickity-viewport {
        height: 600px;
    }

    .gallery-cell {
        height: 600px;
    }

    .gallery-cell img {
        height: 600px;
    }
}

@media (max-width: 1100px) {

    
}